table.zsft-table {
	border-style: solid;
	border-width: 1pt;
	border-color: black;
	font-family: Arial;
	font-size: 9pt;
	width: 90%;
}

table.zsft-table input {
	border-style: none;
}

table.zsft-table th.id {
	background-color: #575757;
	color: white;
	font-weight: bold;
}

table.zsft-table td {
	border-style: solid;
	border-color: grey;
	border-width: 1pt;
}

table.zsft-table th {
	background-color: rgb(64, 128, 128);
	color: white;
	font-weight: bold;
	text-align: center;
}

table.zsft-table table.info {
	border-style: solid;
	border-width: 1pt;
	border-color: grey;
	font-family: Arial;
	font-size: 9pt;
	width: 60%;
}

table.zsft-table table.info th {
	background-color: #575757;
	color: white;
	font-weight: bold;
	text-align: center;
}

table.zsft-table table.info td {
	border-style: none;
}

table.zsft-table td.subtableContainer {
	border-style: solid;
	border-color: grey;
	border-width: 1pt;
}

table.zsft-table td.subtableContainer table {
	width: 100%;
	border-style: none;
}

table.zsft-table td.subtableContainer tr {
	/* 	width: 100%; */
	border-style: none;
}

table.zsft-table td.subtableContainer table td {
	border-style: none;
}